<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- As duas únicas permissões do projeto: câmera e rede local.

         Sem localização, sem armazenamento, sem contas. Importar e exportar
         arquivo usa o seletor do sistema, que não exige permissão. -->

    <!-- Leitura de código de barras e do QR de pareamento. -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Exigida pelo Android para abrir qualquer socket, inclusive os que
         nunca saem da rede local. Não dá acesso à internet por si só: o
         aplicativo não fala com nenhum servidor externo. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Saber se há Wi-Fi antes de tentar descobrir os outros aparelhos. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- MulticastLock. Sem ele o Android descarta os pacotes multicast no
         Wi-Fi, e o beacon UDP de descoberta envia mas não recebe nada. O
         MainActivity só o segura enquanto a tela de sincronização procura
         aparelhos. -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- A câmera é o caminho preferido, mas não o único: o levantamento
         funciona por digitação e por leitor externo. Declarar como não
         obrigatória mantém o aplicativo instalável em aparelhos sem câmera. -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <!-- Sem backup do sistema: ele restauraria a identidade do aparelho num
         celular novo (ver res/xml/regras_de_backup.xml). allowBackup e
         fullBackupContent valem até o Android 11; dataExtractionRules, do 12
         em diante. -->
    <application
        android:label="SLAP Inventário"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/regras_de_backup">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
